################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/LibreriaHtmlAgilityPack/Dominio/Entidades/PW3TiendaContext.cs
/LibreriaHtmlAgilityPack/ProductRecommendation/Program.cs
/LibreriaHtmlAgilityPack/Dominio/obj/Debug/net6.0/Dominio.csproj.CoreCompileInputs.cache
/LibreriaHtmlAgilityPack/Dominio/obj/Debug/net6.0/Dominio.dll
/LibreriaHtmlAgilityPack/Dominio/obj/Debug/net6.0/Dominio.pdb
/LibreriaHtmlAgilityPack/ProductRecommendation/bin/Debug/net6.0/ProductRecommendation.pdb
/LibreriaHtmlAgilityPack/ProductRecommendation/bin/Debug/net6.0/ProductRecommendation.dll
/LibreriaHtmlAgilityPack/ProductRecommendation/bin/Debug/net6.0/Dominio.pdb
/LibreriaHtmlAgilityPack/ProductRecommendation/bin/Debug/net6.0/Dominio.dll
/LibreriaHtmlAgilityPack/ProductRecommendation/.vs/ProductRecommendation
/LibreriaHtmlAgilityPack/ProductRecommendation/bin/Debug/net6.0
/LibreriaHtmlAgilityPack/ProductRecommendation/obj
/LibreriaHtmlAgilityPack/ProductRecommendation/obj/Debug/net6.0/ProductRecommendation.pdb
/LibreriaHtmlAgilityPack/ProductRecommendation/obj/Debug/net6.0/ProductRecommendation.csproj.CoreCompileInputs.cache
/LibreriaHtmlAgilityPack/ProductRecommendation/obj/Debug/net6.0/ProductRecommendation.csproj.AssemblyReference.cache
/LibreriaHtmlAgilityPack/ProductRecommendation/obj/Debug/net6.0/ProductRecommendation.dll
/LibreriaHtmlAgilityPack/ProductRecommendation/obj/Debug/net6.0/ProductRecommendation.AssemblyInfo.cs
/LibreriaHtmlAgilityPack/ProductRecommendation/obj/Debug/net6.0/refint/ProductRecommendation.dll
/LibreriaHtmlAgilityPack/ProductRecommendation/bin/Debug/net6.0/HelperJsonToCsv.pdb
/LibreriaHtmlAgilityPack/ProductRecommendation/bin/Debug/net6.0/HelperJsonToCsv.dll
/LibreriaHtmlAgilityPack/HelperJsonToCsv/obj/Debug/net6.0/HelperJsonToCsv.pdb
/LibreriaHtmlAgilityPack/HelperJsonToCsv/obj/Debug/net6.0/HelperJsonToCsv.AssemblyInfo.cs
/LibreriaHtmlAgilityPack/HelperJsonToCsv/obj/Debug/net6.0/HelperJsonToCsv.csproj.AssemblyReference.cache
/LibreriaHtmlAgilityPack/HelperJsonToCsv/obj/Debug/net6.0/HelperJsonToCsv.dll
/LibreriaHtmlAgilityPack/ProductRecommendation/obj/Debug/net6.0/ref/ProductRecommendation.dll
/LibreriaHtmlAgilityPack/HelperJsonToCsv/bin/Debug/net6.0/HelperJsonToCsv.pdb
/LibreriaHtmlAgilityPack/HelperJsonToCsv/bin/Debug/net6.0/HelperJsonToCsv.dll
/LibreriaHtmlAgilityPack/Dominio/obj/Debug/net6.0/Dominio.pdb
/LibreriaHtmlAgilityPack/Dominio/obj/Debug/net6.0/Dominio.dll
/LibreriaHtmlAgilityPack/Dominio/obj/Debug/net6.0/Dominio.csproj.CoreCompileInputs.cache
/LibreriaHtmlAgilityPack/Dominio/obj/Debug/net6.0/Dominio.csproj.AssemblyReference.cache
/LibreriaHtmlAgilityPack/Dominio/obj/Debug/net6.0/Dominio.AssemblyInfo.cs
/LibreriaHtmlAgilityPack/Dominio/obj/Debug/net6.0/refint/Dominio.dll
/LibreriaHtmlAgilityPack/Dominio/obj/Debug/net6.0/ref/Dominio.dll
/LibreriaHtmlAgilityPack/Dominio/bin/Debug/net6.0/Dominio.pdb
/LibreriaHtmlAgilityPack/Dominio/bin/Debug/net6.0/Dominio.dll
/LibreriaHtmlAgilityPack/.vs/LibreriaHtmlAgilityPack/v17/.suo
*.vsidx
